# Einführung in die Datenstrukturen von pandas

Um mit pandas zu beginnen, solltet ihr euch zunächst mit den beiden wichtigsten Datenstrukturen vertraut machen: [Series](#Series) und [DataFrame](#DataFrame).

## Series

Eine Serie ist ein eindimensionales Array-ähnliches Objekt, das eine Folge von Werten (von ähnlichen Typen wie die NumPy-Typen) und ein zugehöriges Array von Datenbeschriftungen, genannt Index, enthält. Die einfachste Serie wird nur aus einem Array von Daten gebildet:

In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series(np.random.randn(7))
s

0   -1.661743
1    0.408717
2    1.126711
3   -0.106557
4   -0.428430
5   -0.677597
6    1.511421
dtype: float64

Die Zeichenkettendarstellung einer interaktiv angezeigten Reihe zeigt den Index auf der linken Seite und die Werte auf der rechten Seite. Da wir keinen Index für die Daten angegeben haben, wird ein Standardindex erstellt, der aus den ganzen Zahlen `0` bis `N - 1` besteht (wobei `N` die Anzahl (_Length_) der Daten ist). Ihr könnt die Array-Darstellung und das Index-Objekt der Reihe über ihre [pandas.Series.array](https://pandas.pydata.org/docs/reference/api/pandas.Series.array.html)- bzw. [pandas.Series.index](https://pandas.pydata.org/docs/reference/api/pandas.Series.index.html)-Attribute erhalten:

In [3]:
s.array

<PandasArray>
[ -1.6617425959400232,  0.40871700540494743,   1.1267112029398951,
 -0.10655686319722943,  -0.4284301358463365,  -0.6775966546149228,
    1.511421387928377]
Length: 7, dtype: float64

In [4]:
s.index

RangeIndex(start=0, stop=7, step=1)

Oft werdet ihr einen Index erstellen wollen, der jeden Datenpunkt mit einer Bezeichnung kennzeichnet:

In [5]:
idx = pd.date_range("2022-02-02", periods=7, freq="H")

s2 = pd.Series(np.random.randn(7), index=idx)

In [6]:
s2

2022-02-02 00:00:00   -0.180519
2022-02-02 01:00:00    2.113742
2022-02-02 02:00:00    0.011491
2022-02-02 03:00:00   -0.868093
2022-02-02 04:00:00    0.085760
2022-02-02 05:00:00    0.381963
2022-02-02 06:00:00   -0.745915
Freq: H, dtype: float64

> **Siehe auch:**
> 
> [Time series / date functionality](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html)

Im Vergleich zu NumPy-Arrays könnt ihr die Beschriftungen im Index verwenden, wenn ihr einzelne Werte oder eine Gruppe von Werten auswählen wollt:

In [7]:
s2['2022-02-02 00:00:00']

-0.18051872776243905

In [8]:
s2[['2022-02-02 00:00:00', '2022-02-02 01:00:00', '2022-02-02 02:00:00']]

2022-02-02 00:00:00   -0.180519
2022-02-02 01:00:00    2.113742
2022-02-02 02:00:00    0.011491
dtype: float64

Hier wird `['2022-02-02 00:00:00', '2022-02-02 01:00:00', '2022-02-02 02:00:00']` als eine Liste von Indizes interpretiert, auch wenn sie Strings anstelle von ganzen Zahlen enthält.

Bei der Verwendung von NumPy-Funktionen oder NumPy-ähnlichen Operationen, wie z. B. dem Filtern mit einem booleschen Array, der skalaren Multiplikation oder der Anwendung mathematischer Funktionen, bleibt die Verknüpfung zwischen Index und Wert erhalten:

In [9]:
s2[s2 > 0]

2022-02-02 01:00:00    2.113742
2022-02-02 02:00:00    0.011491
2022-02-02 04:00:00    0.085760
2022-02-02 05:00:00    0.381963
dtype: float64

In [10]:
s2 ** 2

2022-02-02 00:00:00    0.032587
2022-02-02 01:00:00    4.467904
2022-02-02 02:00:00    0.000132
2022-02-02 03:00:00    0.753586
2022-02-02 04:00:00    0.007355
2022-02-02 05:00:00    0.145896
2022-02-02 06:00:00    0.556389
Freq: H, dtype: float64

In [11]:
import numpy as np

np.exp(s2)

2022-02-02 00:00:00    0.834837
2022-02-02 01:00:00    8.279163
2022-02-02 02:00:00    1.011557
2022-02-02 03:00:00    0.419751
2022-02-02 04:00:00    1.089544
2022-02-02 05:00:00    1.465159
2022-02-02 06:00:00    0.474300
Freq: H, dtype: float64

Ihr könnt euch eine Serie auch als ein _ordered dict_ mit fester Länge vorstellen, da sie eine Zuordnung von Indexwerten zu Datenwerten darstellt. Sie kann in vielen Kontexten verwendet werden, in denen man ein _dict_ verwenden könnte:

In [12]:
'2022-02-02 01:00:00' in s2

True

In [13]:
'2022-02-02 07:00:00' in s2

False

Wenn ihr Daten in einem Python `dict` habt, könnt ihr daraus eine Serie erstellen, indem ihr das `dict` übergebt:

In [14]:
sdata = {
    '2022-02-02 07:00:00': -2.123230,
    '2022-02-02 08:00:00':  1.306582,
    '2022-02-02 09:00:00':  0.610376
}

s3 = pd.Series(sdata)

s3

2022-02-02 07:00:00   -2.123230
2022-02-02 08:00:00    1.306582
2022-02-02 09:00:00    0.610376
dtype: float64

Wenn ihr nur ein `dict` übergebt, berücksichtigt der Index in der resultierenden Serie die Reihenfolge der Schlüssel gemäß der Schlüsselmethode des Diktats, die von der Einfügereihenfolge der Schlüssel abhängt. Ihr könnt dies außer Kraft setzen, indem ihr einen Index mit den Diktatschlüsseln in der Reihenfolge übergebt, in der sie in der resultierenden Reihe erscheinen sollen:

In [15]:
idx = pd.date_range("2022-02-02", periods=8, freq="H")

s3 = pd.Series(s2, index=idx)

s3

2022-02-02 00:00:00   -0.180519
2022-02-02 01:00:00    2.113742
2022-02-02 02:00:00    0.011491
2022-02-02 03:00:00   -0.868093
2022-02-02 04:00:00    0.085760
2022-02-02 05:00:00    0.381963
2022-02-02 06:00:00   -0.745915
2022-02-02 07:00:00         NaN
Freq: H, dtype: float64

Hier wurden sieben in `s2` gefundene Werte an die entsprechenden Stellen gesetzt, aber da kein Wert für `2022-02-02 07:00:00` gefunden wurde, erscheint er als `NaN` (_not a number_), was in pandas als Markierung für fehlende oder NA-Werte gilt.

`NA` und `null` werde ich synonym verwenden, um auf fehlende Daten hinzuweisen. Die Funktionen `isna` und `notna` in pandas sollten verwendet werden, um fehlende Daten zu erkennen:

In [16]:
pd.isna(s3)

2022-02-02 00:00:00    False
2022-02-02 01:00:00    False
2022-02-02 02:00:00    False
2022-02-02 03:00:00    False
2022-02-02 04:00:00    False
2022-02-02 05:00:00    False
2022-02-02 06:00:00    False
2022-02-02 07:00:00     True
Freq: H, dtype: bool

In [17]:
pd.notna(s3)

2022-02-02 00:00:00     True
2022-02-02 01:00:00     True
2022-02-02 02:00:00     True
2022-02-02 03:00:00     True
2022-02-02 04:00:00     True
2022-02-02 05:00:00     True
2022-02-02 06:00:00     True
2022-02-02 07:00:00    False
Freq: H, dtype: bool

Series hat auch diese als Instanzmethoden:

In [18]:
s3.isna()

2022-02-02 00:00:00    False
2022-02-02 01:00:00    False
2022-02-02 02:00:00    False
2022-02-02 03:00:00    False
2022-02-02 04:00:00    False
2022-02-02 05:00:00    False
2022-02-02 06:00:00    False
2022-02-02 07:00:00     True
Freq: H, dtype: bool

Der Umgang mit fehlenden Daten wird im Abschnitt [Verwalten fehlender Daten mit pandas](clean-prep/nulls.ipynb) ausführlicher behandelt.

Eine für viele Anwendungen nützliche Funktion von Series ist die automatische Ausrichtung nach Indexbezeichnungen bei arithmetischen Operationen:

In [19]:
s2

2022-02-02 00:00:00   -0.180519
2022-02-02 01:00:00    2.113742
2022-02-02 02:00:00    0.011491
2022-02-02 03:00:00   -0.868093
2022-02-02 04:00:00    0.085760
2022-02-02 05:00:00    0.381963
2022-02-02 06:00:00   -0.745915
Freq: H, dtype: float64

In [20]:
s3

2022-02-02 00:00:00   -0.180519
2022-02-02 01:00:00    2.113742
2022-02-02 02:00:00    0.011491
2022-02-02 03:00:00   -0.868093
2022-02-02 04:00:00    0.085760
2022-02-02 05:00:00    0.381963
2022-02-02 06:00:00   -0.745915
2022-02-02 07:00:00         NaN
Freq: H, dtype: float64

In [21]:
s2 + s3

2022-02-02 00:00:00   -0.361037
2022-02-02 01:00:00    4.227484
2022-02-02 02:00:00    0.022982
2022-02-02 03:00:00   -1.736187
2022-02-02 04:00:00    0.171519
2022-02-02 05:00:00    0.763927
2022-02-02 06:00:00   -1.491829
2022-02-02 07:00:00         NaN
Freq: H, dtype: float64

Wenn ihr Erfahrung mit relationalen Datenbanken habt, ähnelt dies einem _Join_-Vorgang.

Sowohl das Series-Objekt selbst als auch sein Index haben ein `name`-Attribut, das sich in andere Bereiche der pandas-Funktionalität integrieren lässt:

In [22]:
s3.name = 'floats'
s3.index.name = 'datetime'

s3

datetime
2022-02-02 00:00:00   -0.180519
2022-02-02 01:00:00    2.113742
2022-02-02 02:00:00    0.011491
2022-02-02 03:00:00   -0.868093
2022-02-02 04:00:00    0.085760
2022-02-02 05:00:00    0.381963
2022-02-02 06:00:00   -0.745915
2022-02-02 07:00:00         NaN
Freq: H, Name: floats, dtype: float64

## DataFrame

Ein DataFrame stellt eine rechteckige Datentabelle dar und enthält eine geordnete, benannte Sammlung von Spalten, von denen jede einen anderen Werttyp haben kann. Der DataFrame hat sowohl einen Zeilen- als auch einen Spaltenindex.

> **Bemerkung:**
> 
> Ein DataFrame ist zwar zweidimensional, ihr könnt ihn aber auch verwenden, um mit [join](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.join.html), [combine](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.combine.html) und [Reshaping](https://pandas.pydata.org/pandas-docs/stable/user_guide/reshaping.html) höherdimensionale Daten in einem Tabellenformat mit hierarchischer Indizierung darzustellen.

In [23]:
data = {'Code': ['U+0000', 'U+0001', 'U+0002', 'U+0003', 'U+0004', 'U+0005'],
        'Decimal': [0, 1, 2, 3, 4, 5],
        'Octal': ['001', '002', '003', '004', '004', '005'],
        'Key': ['NUL', 'Ctrl-A', 'Ctrl-B', 'Ctrl-C', 'Ctrl-D', 'Ctrl-E']}

df = pd.DataFrame(data)

df

     Code  Decimal Octal     Key
0  U+0000        0   001     NUL
1  U+0001        1   002  Ctrl-A
2  U+0002        2   003  Ctrl-B
3  U+0003        3   004  Ctrl-C
4  U+0004        4   004  Ctrl-D
5  U+0005        5   005  Ctrl-E

Bei großen DataFrames wählt die `head`-Methode nur die ersten fünf Zeilen aus:

In [24]:
df.head()

     Code  Decimal Octal     Key
0  U+0000        0   001     NUL
1  U+0001        1   002  Ctrl-A
2  U+0002        2   003  Ctrl-B
3  U+0003        3   004  Ctrl-C
4  U+0004        4   004  Ctrl-D

Ihr könnt auch die Reihenfolge der Spalten angeben:

In [25]:
pd.DataFrame(data, columns=['Code', 'Key'])

     Code     Key
0  U+0000     NUL
1  U+0001  Ctrl-A
2  U+0002  Ctrl-B
3  U+0003  Ctrl-C
4  U+0004  Ctrl-D
5  U+0005  Ctrl-E

Wenn ihr eine Spalte übergeben wollt, die nicht im `dict` enthalten ist, wird sie mit fehlenden Werten im Ergebnis erscheinen:

In [26]:
df2 = pd.DataFrame(data, columns=['Code', 'Decimal', 'Octal', 'Description', 'Key'])

df2

     Code  Decimal Octal Description     Key
0  U+0000        0   001         NaN     NUL
1  U+0001        1   002         NaN  Ctrl-A
2  U+0002        2   003         NaN  Ctrl-B
3  U+0003        3   004         NaN  Ctrl-C
4  U+0004        4   004         NaN  Ctrl-D
5  U+0005        5   005         NaN  Ctrl-E

Ihr könnt eine Spalte in einem DataFrame mit einer`dict`-ähnlichen Notation abrufen:

In [27]:
df['Code']

0    U+0000
1    U+0001
2    U+0002
3    U+0003
4    U+0004
5    U+0005
Name: Code, dtype: object

So könnt ihr auch eine Spalte zum Index machen:

In [28]:
df2 = pd.DataFrame(data,
                   columns=['Decimal', 'Octal', 'Description', 'Key'],
                   index=df['Code'])

df2

        Decimal Octal Description     Key
Code
U+0000        0   001         NaN     NUL
U+0001        1   002         NaN  Ctrl-A
U+0002        2   003         NaN  Ctrl-B
U+0003        3   004         NaN  Ctrl-C
U+0004        4   004         NaN  Ctrl-D
U+0005        5   005         NaN  Ctrl-E

Zeilen können nach Position oder Name mit dem [pandas.DataFrame.loc](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html)-Attribut abgerufen werden:

In [29]:
df2.loc['U+0001']

Decimal             1
Octal             002
Description       NaN
Key            Ctrl-A
Name: U+0001, dtype: object

Spaltenwerte können durch Zuweisung geändert werden. Zum Beispiel könnte der leeren Spalte _Description_ ein Einzelwert oder ein Array von Werten zugewiesen werden:

In [30]:
df2['Description'] = [
    'Null character',
    'Start of Heading',
    'Start of Text',
    'End-of-text character',
    'End-of-transmission character',
    'Enquiry character'
    ]

df2

        Decimal Octal                    Description     Key
Code
U+0000        0   001                 Null character     NUL
U+0001        1   002               Start of Heading  Ctrl-A
U+0002        2   003                  Start of Text  Ctrl-B
U+0003        3   004          End-of-text character  Ctrl-C
U+0004        4   004  End-of-transmission character  Ctrl-D
U+0005        5   005              Enquiry character  Ctrl-E

Das Zuweisen einer nicht existierenden Spalte erzeugt eine neue Spalte.

Mit [pandas.DataFrame.drop](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.drop.html) können Spalten  entfernt und mit `pandas.DataFrame.columns` angezeigt werden:

In [31]:
df3 = df2.drop(columns=['Decimal', 'Octal'])

df3.columns

Index(['Description', 'Key'], dtype='object')

Eine weitere gängige Form von Daten sind verschachtelte Dict von Dicts:

In [32]:
u = {
    'U+0006': {'Decimal': '6', 'Octal': '006', 'Description': 'Acknowledge character', 'Key': 'Ctrl-F'},
    'U+0007': {'Decimal': '7', 'Octal': '007', 'Description': 'Bell character', 'Key': 'Ctrl-G3'},
    }

df4 = pd.DataFrame(u)

df4

                            U+0006          U+0007
Decimal                          6               7
Octal                          006             007
Description  Acknowledge character  Bell character
Key                         Ctrl-F         Ctrl-G3

Ihr könnt den DataFrame transponieren, d.h. die Zeilen und Spalten vertauschen, mit einer ähnlichen Syntax wie bei einem NumPy-Array:

In [33]:
df4.T

       Decimal Octal            Description      Key
U+0006       6   006  Acknowledge character   Ctrl-F
U+0007       7   007         Bell character  Ctrl-G3

> **Warnung:**
> 
> Beachtet, dass beim Transponieren die Datentypen der Spalten verworfen werden, wenn die Spalten nicht alle denselben Datentyp haben, so dass beim Transponieren und anschließenden Zurücktransponieren die vorherigen Typinformationen verloren gehen können. Die Spalten werden in diesem Fall zu Arrays aus reinen Python-Objekten.

Die Schlüssel in den inneren Dicts werden kombiniert, um den Index im Ergebnis zu bilden. Dies ist nicht der Fall, wenn ein expliziter Index angegeben wird:

In [34]:
df5 = pd.DataFrame(u, index=['Decimal', 'Octal', 'Key'])
df5

         U+0006   U+0007
Decimal       6        7
Octal       006      007
Key      Ctrl-F  Ctrl-G3

Dicts von Series werden in ähnlicher Weise behandelt:

In [35]:
u2 = {
    'U+0006': df4['U+0006'][:-1],
    'U+0007': df4['U+0007'][:-1]
    }

pd.DataFrame(u2)

                            U+0006          U+0007
Decimal                          6               7
Octal                          006             007
Description  Acknowledge character  Bell character